.Container {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.Link {
  text-decoration: none;
  color: black;
  cursor: default;
}
