.Container {
  background-color: #fff;
  width: 40%;
  height: calc(var(--header-height) - 0.5rem);
  border-radius: 0.25rem;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.1rem;
  overflow: hidden;
}

.Artwork {
  height: 100%;
  background-color: #e9e9e9;
  aspect-ratio: 1/1;
}

.InfoBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: red;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.SkeletonBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: #999999;
  fill: #999999;
}
