.container {
  background-color: #fff;
  width: 40%;
  height: calc(var(--header-height) - 0.5rem);
  border-radius: 0.25rem;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.1rem;
}

.artwork {
  width: calc(var(--header-height) - 0.5rem);
  height: calc(var(--header-height) - 0.5rem);
  background-color: #bfbfbf;
}

.info-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: red;
  align-items: center;
  justify-content: space-between;
}
